@media screen and (max-width: 480px) {



    header nav {
        
        width: 50%;
        flex-wrap: wrap;
        align-items: center;
        background: rgba(8, 34, 78, 0);
        position: relative;
        right: 3%;
    }
    
    header nav a:hover {
        width: 50%;  
    }

    .wcometitle {

        position: relative;
        top: 30px;
        font-size: 50px;
         
    }
      
    .wcometext {
       
        padding: 12%;
         font-size: 18px;
      
    }
      
    #logo {
      
        position: relative;
        bottom: 50px;
      
    }
    
    
    
    footer {
       
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .order-filter {
        
        left: 23%;
        
        grid-template-rows: auto;
        
      }
      
       option {
        
    
       font-size: 10px;
       
      }

      #modal-background{
       
       margin-top: 10% ;
        width: 80%;
      }
      
      #pokenum-modal, #pokename-modal{
      display: block;
        font-size: 20px;
         
      }
      
      #pokeimg-modal{
     
       left: 28%;
        
        
      }
      
      #type-modal{

        margin: 3%;
        width: 25%;
        font-size: 20px;
        height: 27px;
      }
      
      #line-modal { 
       left: 8%;
       width: 80%;
      }

      
      
      #text-resistant {
        margin-top: 2%;
        left: 35%;
        font-size: 2vh;
        
      }
      
      #resistant-modal{
       
        margin: 3%;
        width: 25%;
        font-size: 15px;
        font-weight:normal;
        
      } 
      

}