* {
  padding: px;
  margin: 0px;
}

html {
  min-height: 100%;
  position: relative;
  
}

body {
  background: url(./img/fondopoke.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}

.containerhder {
  display: flex;
  flex-flow: row wrap;
}

header {
  background: rgba(8, 34, 78, 0.75);
  width: 100%;
  height: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
 
 
}

#img-logo-hder {
  width: 170px;
 position: relative;
 bottom: 25px;
}

header nav {

    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: rgba(8, 34, 78, 0);
    position: relative;
    bottom: 35px;
    right: 50px;

}

header nav a {
    font-size: large;
    font-family: 'Lato', sans-serif;
    color: rgba(255, 245, 238, 0.993);
    padding: 5px;
    text-align: center;
    flex-grow: 1;
}

header nav a:hover {
  background: rgba(255, 252, 252, 0.548);
  border-radius: 20px;
  border: 1px solid gray;
}

main{
    flex:1;

}

.wcometitle {

    text-align: center;
    margin-top: 11vh;
    font-family: 'Denk One', sans-serif;
    font-size: 60px;
    color: rgba(8, 34, 78, 0.85);  
}
  
.wcometext {
  
  text-align: center;
  margin-top: 6vh;
  font-family:  sans-serif;
  font-size: 20px;
  color: rgba(54, 54, 54, 0.89); 
}
  
#logo {
  
    width: 350px;
    margin: auto;
    display: block; 
    padding-top: 50px;
    position: relative;
    left: 20px;
  
}

footer {
      
    background: rgb(213, 213, 213);
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
}

footer h6 {
    text-align: center;
    position: relative;
    top: 8px;
    font-size: small;
    font-family:'Courier New', Courier, monospace;
    color: rgb(87,87,87);
}

#cards {
  
  display:flex;
  justify-content: space-around;
  margin-top: 150px;
  flex-wrap: wrap;
  
 
}

#boxcard {
 
  height: 300px;
  }

  

.cardcontainer { 
  width: 240px ;
 border-radius: 20px;
 box-shadow: 2px 2px 2px 2px rgba(46, 46, 46, 0.637);
}

.cardcontainer:hover {

  box-shadow: 4px 4px 4px 4px rgb(46, 46, 46);
  z-index: 4;
}


#pokenum {
  position: relative;
  bottom: 220px;
  text-align: center;
  font-size: 20px;

}

#pokeimg {
  position: relative;
  bottom:220px ;
  width:130px;
  left: 50px;
 
 
}

#pokename {
  position: relative;
  bottom: 220px;
  text-align: center;
  font-size: 20px;
  
  
}
